<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).hide();
  $('.js-comments-count').html("<%= pluralize(@post.comments.count) 'Comment'" %>);
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>